.hover:hover {
  color: lightblue;
  font-weight: bold;
}
.active:active {
  color: red;
  font-style: italic;
}
.visited:visited {
  color: yellow;
}
.focus:focus {
  color: green;
  font-size: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.main-nav input[type="search"] {
  display: block;
  float: right;
  padding: 6px;
  border-radius: 15px;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 17px;
}

.currentPage {
  background-color: rgb(63, 63, 110);
}
.menu:hover {
  background-color: lightblue;
}
.search:focus {
  border: 5px solid aqua;
  border-radius: 15px;
}
